div.divider
{
  width: 100%;
}

div.form
{
  form
  {
    mat-form-field
    {
      width: 300px;
    }
  }
}

div.result
{
  width: 100%;

  table
  {
    margin-bottom: 24px;
    width: 100%;
  }
}
