<div class="page" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
  <div class="icon" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    <img src="{{ this.icon }}">
    <span>
      Designed by
      <a href="https://twitter.com/chamaako" target="_blank">@chamaako</a>
    </span>
  </div>
  <div class="description" fxLayout="column" fxLayoutAlign="center center">
    <span>左上のメニューから</span>
    <span>使いたいシミュレータを</span>
    <span>選択してね💘</span>
  </div>
</div>
